@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    
    --nav-bg: #F6F5F2;
    --background: #F3D0D7;

    --text-black: #161616;
    --text-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header {
    background-color: var(--nav-bg);
    display: flex;
    align-items: center;
    height: 5vh;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border: 1px solid black;
}

#main-header picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#main-header nav a {
    color: var(--text-black);
    text-decoration: none;
}


#main-header picture img {
    width: 75px;
    height: 75px;
}

#main-header form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

#main-header form button {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    cursor: pointer;
}

#main-header form button img {
    object-fit: cover;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-top: 150px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--nav-bg);
    border-radius: 1rem;
    padding: 2rem;
}

#content h1 {
    text-align: left;
    font-size: 4rem;
}

#textos {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#textos p {
    font-size: 1.50rem;
}

.contenedor {
    width: 100%;
    display: flex;
    max-width: 1240px;
}

.cards {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--nav-bg);
    box-shadow: 0px 1px 10px rgb(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
}

.cards:hover {
    box-shadow: 5px 5px 20px rgba(,0,0,0,0.4);
    transform: translateY(-3%);
}

.cards img{
    width: 100%;
    height: 250px;
}

.cards .contenido {
    padding: 15px;
    text-align: center;
}

.cards .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: var(--text-black);
    border: 1px solid var(--background);
    border-radius: 4px;
    transition: all 400ms ease;
}

.cards .contenido a:hover {
    background: var(--background);
}

.pie-pagina {
    width: 100%;
}

.pie-pagina .grupo-1 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: var(--nav-bg);
}

.pie-pagina .grupo-1 .caja figure img {
    width: 70px;
}

.pie-pagina .grupo-1 .caja-a a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: var(--text-black);
    border: 1px solid var(--background);
    border-radius: 4px;
    transition: all 400ms ease;
}

.pie-pagina .grupo-1 .caja-a a:hover {
    background: var(--background);
}